.indexTopContents {
	margin-top: 200px;
}

.mobileTopContents {
	margin-top: 20px;
}

@media only screen and (max-width: 400px) {
	.indexTopContents {
		margin-top: 30px;
	}
	
	.mobileHiddenContents {
		display: none;
	}
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#form {
	position: absolute;
	top: 20%;
	right: 20%;
}

#mainButton1 {
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 20px;
	border-radius: 12px;
	padding: 20px;
	border: none;
	color: white;
	cursor: pointer;
}

/* image 100%  */
.mainImage {
	opacity: 0.5;
	min-width: 100%;
	min-height: 100%;
}

/* scroll hidden */
body {
	margin: 0;
	overflow: auto;
}

/* header  */
#header {
	color: white;
	position: relative;
	width: 100%;
	z-index: 1000;
	margin-bottom: 50px;
}

/* footer */
#footer {
	position: fixed;
	bottom: 0;
	background-color: black;
	width: 100%;
	padding: 5px;
	text-align: center;
	z-index: 1000;
}

.fab {
	color: white;
	font-size: 30px;
}

/* signup&login */
#form-wrap {
	background-color: rgba(255, 255, 255, 0.1);
	float: right;
	min-width: 350px;
	width: 30%;
	color: white;
	border-radius: 10px;
}

#signup-tab-content {
	display: none;
}

#login-tab-content {
	display: block;
}

.form-tabs {
	width: 100%;
	padding: 10px;
}

.signup-tab {
	float: right;
	width: 50%;
	margin: 0px;
	border-rignt: 1px solid;
}

.login-tab {
	float: left;
	width: 50%;
	margin: 0px;
}

.signinupButton {
	font-size: 20px;
	background-color: none;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

#tabs-content input[type=text], input[type=password], input[type=email],
	input[type=submit] {
	padding: 10px;
	font-size: 20px;
	margin: 10px;
	width: 85%;
}

#tabs-content input[type=text], input[type=password], input[type=email]
	{
	color: black;
}

/* ===================================================================== */
/* response layout */
@media only screen and (max-width: 950px) {
	#main_forwardIcon {
		float: none;
		width: 100%;
	}
	#form-wrap {
		float: none;
		margin-left: 0px;
	}
	#main_forwardIcon p {
		font-size: 50px;
	}
	#main_contents {
		top: 10%;
	}
	.
}