<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spring.blog.mapper.MemberMapper">
	<select id="findMemberByEmail" parameterType="java.lang.String" resultType="com.spring.blog.domain.Account">
		SELECT * FROM Account WHERE email=#{email}
	</select>

	<insert id="insertKey" parameterType="java.util.HashMap">
		INSERT INTO accountkey (email, key) VALUES (#{parameters[0]}, #{parameters[0]})
	</insert>
	
	<select id="findkey" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT key FROM accountkey WHERE email=#{email}
	</select>

</mapper>