<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spring.blog.mapper.PortfolioMapper">

	<select id="portfolioCount" resultType="Integer">
		SELECT COUNT(*)
		FROM PORTFOLIO WHERE VISIBLE = 1
	</select>
	
	<select id="portfolioAllCount" resultType="Integer">
		SELECT COUNT(*)
		FROM PORTFOLIO
	</select>

	<select id="portfolioList" resultType="com.spring.blog.dto.PortfolioDto">
		SELECT *
		FROM PORTFOLIO WHERE VISIBLE = 1
	</select>

	<insert id="portfolioInsertProc" parameterType="com.spring.blog.dto.PortfolioDto">
		INSERT INTO PORTFOLIO
		(PORTFOLIOTITLE,TEAMNAME,LEADER,GITHUBREPO,PAGEURL,SUMMARY,YOUTUBEURL,STARTTIME,ENDTIME,MAINIMAGE,VISIBLE)
		VALUES
		(#{portfolioTitle},#{teamName},#{leader},#{githubRepo},#{pageUrl},#{summary},#{youtubeUrl},NOW(),NOW(),#{mainImage},#{visible});
	</insert>
	
	<insert id="portfolioFileInsertProc" parameterType="com.spring.blog.dto.FileDto" >
		INSERT INTO files 
		(fileKategorie, kategorieNum, fileName, fileUrl, fileDescription) 
		VALUES 
		(#{fileKategorie}, #{kategorieNum}, #{fileName}, #{fileUrl}, #{fileDescription});
	</insert>
	
	<select id="findPortfolioNum" resultType="Integer">	
		SELECT AUTO_INCREMENT
		FROM information_schema.tables
		WHERE table_name = 'portfolio'
		AND table_schema = DATABASE( ) ;
	</select>
	
</mapper>